<div
  style="
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    margin: auto;
    width: 850px;
    height: 100%;
  "
>
  <div
    style="
      padding: 0.5rem;
      width: 100%;
      height: 8rem;
      background-color: #852bc9;
    "
  >
    <div
      style="
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        height: 100%;
        aspect-ratio: 3/1;
      "
    >
      <img
        src="/public/assets/images/flc_logo.png"
        alt="FLC Logo"
        style="
          position: absolute;
          display: block;
          max-width: 100%;
          height: auto;
        "
      />
    </div>
  </div>
  <div
    style="
      width: 100%;
      padding: 2.5rem;
      gap: 0.25rem;
      font-size: 1.25rem;
      line-height: 1.75rem;
    "
  >
    <h1
      style="
        width: 100%;
        margin: 0.25rem 0 2.5rem 0;
        font-size: inherit;
        font-weight: inherit;
        font-size: 3rem;
        line-height: 1;
      "
    >
      Email Verification
    </h1>
    <p style="width: 100%; margin: 1.5rem 0">Hi {{name}},</p>
    <p style="width: 100%; margin: 0.25rem 0">
      You're almost set to start enjoying Finite Loop Club. Simply click the
      link below to verify your email address and get started.
    </p>
    <p style="width: 100%; margin: 1.5rem 0">
      The link expires in {{expiry_hours}} hours.
    </p>
    <a
      style="
        display: block;
        margin: 2.5rem auto;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        width: fit-content;
        font-size: 1.25rem;
        line-height: 1.75rem;
        text-decoration: inherit;
        background-color: #4e0a83;
        color: #ffffff;
      "
      href="{{verify_url}}"
    >
      Verify email address
    </a>
    <hr
      style="
        width: 90%;
        height: 0.125rem;
        margin: auto;
        background-color: #852bc9;
      "
    />
    <div style="text-align: center; margin-top: 1.25rem">
      <a
        href="{{canonical_url}}"
        style="
          margin: 0.75rem auto;
          color: inherit;
          text-decoration: inherit;
          font-size: 1.25rem;
          line-height: 1.75rem;
        "
        >Finite Loop Club</a
      >
      <p style="margin: 0">NMAM Institute of Technology</p>
      <p style="margin: 0">Nitte, SH1, Karkala</p>
      <p style="margin: 0">Karnataka, 574110, IN</p>
    </div>
    <div style="margin: 1.5rem auto; width: fit-content">
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 1.5rem;
          display: inline-block;
        "
        href="{{instagram}}"
      >
        <img
          src="https://img.icons8.com/?size=100&id=32292&format=png&color=000000"
          alt="Instagram"
          style="height: 1.75rem; width: 1.75rem"
        />
      </a>
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 1.5rem;
          display: inline-block;
        "
        href="{{facebook}}"
        ><img
          src="https://img.icons8.com/?size=100&id=435&format=png&color=000000"
          alt="Facebook"
          style="height: 1.75rem; width: 1.75rem"
      /></a>
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 1.5rem;
          display: inline-block;
        "
        href="{{linkedin}}"
        ><img
          src="https://img.icons8.com/?size=100&id=447&format=png&color=000000"
          alt="LinkedIn"
          style="height: 1.75rem; width: 1.75rem"
      /></a>
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 1.5rem;
          display: inline-block;
        "
        href="{{email}}"
        ><img
          src="https://img.icons8.com/?size=100&id=53388&format=png&color=000000"
          alt="Email"
          style="height: 1.75rem; width: 1.75rem"
      /></a>
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 1.5rem;
          display: inline-block;
        "
        href="{{phone}}"
        ><img
          src="https://img.icons8.com/?size=100&id=2olGSGqpqGWD&format=png&color=000000"
          alt="Phone"
          style="height: 1.75rem; width: 1.75rem"
      /></a>
    </div>
    <div
      style="
        font-size: 0.875rem;
        line-height: 1.25rem;
        margin: 1.5rem auto;
        width: fit-content;
      "
    >
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 1rem;
          display: inline-block;
        "
        href="{{canonical_url}}/privacy-policy"
        >Privacy</a
      >
      |
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 0.25rem;
          display: inline-block;
        "
        href="{{canonical_url}}/terms"
        >Terms &amp; Conditions</a
      >
      |
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 0.25rem;
          display: inline-block;
        "
        href="{{canonical_url}}/refund"
        >Refund &amp; Cancellation</a
      >
      |
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 0.25rem;
          display: inline-block;
        "
        href="{{canonical_url}}/contact-us"
        >Contact us</a
      >
      |
      <a
        style="
          color: inherit;
          text-decoration: inherit;
          margin: 0 0.25rem;
          display: inline-block;
        "
        href="{{canonical_url}}/shipping"
        >Shipping</a
      >
    </div>
  </div>
</div>
