@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 50 98% 64%;
    --primary-foreground: 0 0% 8%;
    --secondary: 0 84% 60%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;

    --background: 0 0% 100%;
    --foreground: 233, 0%, 0%;
    --card: 0 19% 100%;
    --border: 0 31% 100%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --font-rowdies: "Rowdies", sans-serif;
  }
  .dark {
    --primary: 50 98% 64%;
    --primary-foreground: 0 0% 8%;
    --secondary: 0 84% 60%;
    --secondary-foreground: 0 0% 98%;
    --radius: 0.5rem;
    --background: 233, 0%, 0%;
    --foreground: 190, 100%, 100%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --border: 0 0% 19%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
  }
}

@layer base {
  
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* font sizes */
  .title {
    @apply text-4xl lg:text-6xl;
    @apply font-bold;
  }

  .heading {
    @apply text-3xl lg:text-3xl;
    @apply font-bold capitalize;
  }

  .subheading {
    @apply text-lg leading-9 lg:text-[1.675rem];
    @apply font-semibold;
    /* @apply font-bold; */
  }

  .body {
    @apply text-base lg:text-lg;
    @apply font-extralight;
  }

  .caption {
    @apply text-xs md:text-sm lg:text-base;
    @apply tracking-wider;
  }

  /* layout */
  .content-container {
    @apply max-w-screen-xl;
    @apply h-full;
    @apply mx-auto;
    @apply p-4 py-6 md:p-12 md:py-12;
  }

  .bg-gradient {
    background: rgb(36, 28, 0);
    background: radial-gradient(
      circle at 100%,
      rgba(136, 112, 3, 0.6),
      rgba(0, 0, 0, 0) 45%
    );
  }
}

body {
  @apply bg-background text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* font sizes */
  .title {
    @apply text-5xl lg:text-7xl;
    @apply font-bold;
  }

  .heading {
    @apply text-3xl md:text-4xl;
    @apply font-bold capitalize;
  }

  .subheading {
    @apply text-lg leading-9 lg:text-[1.675rem];
    @apply font-semibold;
    /* @apply font-bold; */
  }

  .body {
    @apply text-base lg:text-lg;
    @apply font-extralight;
    @apply bg-gradient-to-b from-blue-900 to-black
  }

  .caption {
    @apply text-xs md:text-sm lg:text-base;
    @apply tracking-wider;
  }

  /* layout */
  .content-container {
    @apply max-w-screen-xl;
    @apply h-full;
    @apply mx-auto;
    @apply p-4 py-6 md:p-12 md:py-12;
  }

  .bg-gradient {
    background: rgb(36, 28, 0);
    background: radial-gradient(
      circle at 100%,
      rgba(136, 112, 3, 0.6),
      rgba(0, 0, 0, 0) 45%
    );
  }
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/*********************************************/

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -4;
  filter: hue-rotate(90deg);
  opacity: 0.3;
}

.radialgradient {
  background: radial-gradient(
    circle at 50% -210%,
    #fbe737,
    #f5e74e 50%,
    #0e0f1100 75%,
    #0e0f1100 75%
  );
}


